
@{
    ViewBag.Title = "Amigos";
}

<h2>Amigos</h2>

<hr />
<h2 align="center">my little pony</h2>
<hr />
<p>
    <img src="https://vignette.wikia.nocookie.net/mlp/images/1/18/Princess_Luna_ID_S5E04.png/revision/latest?cb=20150422172452" alt="luna" width="100" height="100" hspace="50" border="3" aling="left" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" /><input type="button" value="Intercambio" style="margin-left: 50px" />
    <img src="https://vignette.wikia.nocookie.net/mlp/images/4/49/Sombra13.png/revision/latest?cb=20140401025309&path-prefix=es" alt="sombra" width="100" height="100" hspace="50" border="3" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" /><input type="button" value="Intercambio" style="margin-left: 50px" />
</p>
</body>
</html>

