
@{
    ViewBag.Title = "Configuracion";
}

<div class="configuracion">
    <h2>Configuracion</h2>

    <hr />
    <p>Buscar album</p>
    <p>
        <input type="text" name="textfield" id="textfield" />
        <input type="submit" class="btn btn-default" name="button" id="button" value="Aceptar" />
    </p>
    <hr />
    <p>Cambiar nombre    </p>
    <p>
        <input type="text" name="textfield" id="textfield" />

        <input type="submit" class="btn btn-default" name="button" id="button" value="Aceptar" />
    </p>
    <hr />
    <p>
        Cambiar imagen
    </p>
    <p>
        <input name="textfield" type="text" id="textfield" value="" size="5" />

        <input type="submit" class="btn btn-default" name="button" id="button" value="Aceptar" />

    </p>
    <hr />
    <p>
        Baja de usuario
    </p>
    <input type="submit" class="btn btn-default" name="button" id="button" value="Baja de usuario" />

    <hr />

</div>


