
@{
    ViewBag.Title = "Configuracion";
}

<h2>Configuracion</h2>


<p>buscar album</p>
<p>
    <input type="text" name="textfield" id="textfield" />
    <input type="submit" name="button" id="button" value="Aceptar" />
</p>
<hr />
<p>cambiar nombre    </p>
<p>
    <input type="text" name="textfield" id="textfield" />

    <input type="submit" name="button" id="button" value="Aceptar" />
</p>
<hr />
<p>
    cambiar imagen
</p>
<p>
    <input name="textfield" type="text" id="textfield" value="+" size="5" />

    <input type="submit" name="button" id="button" value="Aceptar" />

</p>
<hr />


<input type="submit" name="button" id="button" value="Baja de usuario" />

<hr />


