@{
    ViewBag.Title = "Initial";
}

<div class="logueo">
    <h1> </h1>

    <p>
        Mail
        <input type="text" name="textfield" id="textfield" />
    </p>
    <p>
        Password
        <input type="text" name="textfield" id="textfield" />
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <input type="submit" name="button" id="button" value="Loguear" onclick="validarTodo()" />
        <input type="submit" name="button" id="button" value="Alta usuario" />

    </p>
</div>




