
@{
    ViewBag.Title = "Principal";
}

<div class="album">
    <h2 align="center">@ViewBag.Message</h2>
    <input type="button" value="Actualizar" style="margin-left: 50px" />
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="5" maxlength="2" aling="left" />
            </div>
        </div>
    </div>
</div>

